nodes:
  - name: compute-host-1
    ports:
      - switch_name: qfx-1
        port_name: xe-0/0/1
      - switch_name: qfx-2
        port_name: xe-0/0/1
  - name: compute-host-2
    ports:
      - switch_name: qfx-1
        port_name: xe-2/2/2